body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
}

header {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

nav {
  position: relative;
  display: inline-block;
}

#colormenu-button {
  height: 60px;
  width: 60px;
  background-color: lightslategrey;
  background-image: url(burgerbutton.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

#colormenu-button:hover {
  opacity: 0.6;
}

.colormenu {
  display: none;
  position: absolute;
  transition: all 1.5s;
}

.colormenu-appears {
  display: block;
  position: absolute;
  z-index: 100;
}

h1 {
  margin: auto;
  margin-left: 20px;
  color: #111;
}

h2 {
  color: #111;
}

ul {
  list-style: none;
  background-color: lightskyblue;
  width: 180px;
  border-radius: 5px;
  margin-top: 0;
  padding: 5px;
}

li {
  background-color: mediumpurple;
  margin-left: 0;
  border: solid 2px lightslategrey;
  border-radius: 5px;
  height: 30px;
  margin: auto;
  padding-top: 10px;
  color: black;
}

label,
button,
input {
  cursor: pointer;
}

#li-home {
  background-color: gray;
}

#li-red {
  background-color: red;
}

#li-blue {
  background-color: blue;
}

#li-yellow {
  background-color: yellow;
}

#li-purple {
  background-color: purple;
}

#li-green {
  background-color: green;
}
