body {
  background-color: lightskyblue;
}

.nav-topbar {
  width: 100%;
  height: 60px;
  background-color: lightsteelblue;
  display: flex;
}

#dropdownButton {
  width: 60px;
  height: 60px;
  background-color: steelblue;
  border: none;
  background-image: url(menu.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
}

.menuToggleButton {
  position: relative;
  display: block;
}

#dropdownButton:hover {
  opacity: 0.7;
}

.dropdownColorMenu {
  display: none;
  /* position: absolute; */
  z-index: 1000;
}

.dropdownColorMenuAppears {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.dropdownColorMenu ul {
  padding-top: 10px;
  overflow: hidden;
}

.dropdownColorMenu ul li {
  list-style: none;
  line-height: 60px;
  width: 160px;
  background-color: lightslategray;
}

.dropdownColorMenu ul li button {
  display: block;
  border: 1px solid white;
  color: darkslategrey;
  line-height: 60px;
  width: 160px;
  text-transform: capitalize;
  text-align: left;
  font-size: 16px;
  font-family: verdana;
  padding-left: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.dropdownColorMenu ul li input {
  border: 1px solid white;
  color: darkslategrey;
  line-height: 60px;
  width: 160px;
  text-transform: capitalize;
  text-align: left;
  font-size: 16px;
  font-family: verdana;
  padding-left: 10px;
  white-space: nowrap;
  cursor: pointer;
}

/* #homeButton {
  background-color: purple;
} */

#redButton {
  background-color: red;
}

#orangeButton {
  background-color: orangered;
}

#yellowButton {
  background-color: yellow;
}

#greenButton {
  background-color: green;
}

#blueButton {
  background-color: blue;
}

#brownButton {
  background-color: brown;
}

.redBackground {
  background-color: red;
}

.orangeBackground {
  background-color: orangered;
}

.yellowBackground {
  background-color: yellow;
}

.greenBackground {
  background-color: green;
}

.blueBackground {
  background-color: blue;
}

.brownBackground {
  background-color: brown;
}

.menuIsGone {
  display: none;
}
